<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>미세먼지 지도</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"></link>
</head>
<body>
	<div class="tabs">

		<ul class="tabs__list">
		  <li class="tabs__li">
			  미세먼지 지도
		  </li>
		  <li class="tabs__li">
			  리워드 상점
		  </li>
		  <li class="tabs__profile">
			  <button class="btn__profile" onclick="login()">
			  </button>
		  </li>
		</ul>
		<div class="tabs__space">
			<div class="tabs__content">
				<iframe class="tabs__iframe" src="/map"></iframe>
			</div>
			<div class="tabs__content">
				<iframe class="tabs__iframe" src="/shop"></iframe>
			</div>
		</div>
	  </div>
</body>

<script src="{{ url_for('static', filename='main.js') }}" > </script>
</html>